<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!-- Дизайн и представление -->
  <SettingSection Title="SectionDesign">
    <Setting Name="MainPageMode" Type="DropDownList">
      <option Title="MainPageModeDefault" Value="Default" />
      <Value>Default</Value>
    </Setting>
    <Setting Name="MenuStyle" Type="DropDownList">
      <option Title="MenuStyleAccordion" Value="Accordion" />
      <option Title="MenuStyleTreeView" Value="Treeview" />
      <Value>Accordion</Value>
    </Setting>
    <Setting Name="SearchBlockLocation" Type="DropDownList">
      <option Title="SearchNone" Value="None" />
      <option Title="SearchTopMenu" Value="TopMenu" />
      <!--option Title="SearchCatalogMenu" Value="CatalogMenu" /-->
      <Value>SearchNone</Value>
    </Setting>    
  </SettingSection>
  <!-- Карусель -->
  <SettingSection Title="SectionCarousel">
    <Setting Name="CarouselVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CarouselAnimationSpeed" Type="TextBox" DataType="int">
      <Value>500</Value>
    </Setting>
    <Setting Name="CarouselAnimationDelay" Type="TextBox" DataType="int">
      <Value>10000</Value>
    </Setting>
  </SettingSection>
  <!-- Карусель  брендов-->
  <SettingSection Title="SectionBrandCarousel">
    <Setting Name="BrandCarouselVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
  </SettingSection>
  <!-- Товары на главной -->
  <SettingSection Title="SectionMainPageProcuts">
    <Setting Name="MainPageProductsVisibility" Type="Checkbox">
      <Value>True</Value>
    </Setting>
    <Setting Name="CountMainPageProductInSection" Type="TextBox" DataType="int">
      <Value>9</Value>
    </Setting>
    <Setting Name="CountMainPageProductInLine" Type="TextBox" DataType="int">
      <Value>4</Value>
    </Setting>
  </SettingSection>
  <!-- Категории в каталоге -->
  <SettingSection Title="SectionCatalogCategories">
    <Setting Name="CountCategoriesInLine" Type="TextBox" DataType="int">
      <Value>2</Value>
    </Setting>
  </SettingSection>
  <!-- Товары в каталоге -->
  <SettingSection Title="SectionCatalogProducts">
    <Setting Name="CountCatalogProductInLine" Type="TextBox" DataType="int">
      <Value>2</Value>
    </Setting>
  </SettingSection>
  <SettingSection Title="Дополнительные настройки шаблона">
  <!--Настройка количества колонок в меню-->
    <Setting Name="MenuColumnsCount" Title="Количество колонок в гл.меню" Type="TextBox" DataType="int" IsAdditional="true">
      <Value>4</Value>
    </Setting>
    <!--Настройка отображения блока с контактами в подвале-->
    <Setting Name="ContactsBlockInFooter" Title="Блок контактов в подвале" Type="Checkbox" IsAdditional="true">
      <Value>True</Value>
    </Setting>
    <!--Показывать краткое описание товара в отображении плиткой-->
    <Setting Name="ShowShortDescription" Title="Показывать краткое описание товара при отображении плиткой" Type="Checkbox" IsAdditional="true">
      <Value>True</Value>
    </Setting>
    <!--Показывать поле "Количество" в карточке товара-->
    <Setting Name="ShowAmountField" Title="Показывать поле 'Количество' в карточке товара" Type="Checkbox" IsAdditional="true">
      <Value>False</Value>
    </Setting>
    <!--Текст при отсутствии отзывов в карточке товара-->
    <Setting Name="TextAbsenceOfReviews" Title="Текст при отсутствии отзывов в карточке товара" Type="TextBox" DataType="text" IsAdditional="true">
      <Value>Пока нет отзывов</Value>
    </Setting>
  </SettingSection>
  <!-- Отображать -->
  <SettingSection Title="SectionView">
    <Setting Name="RecentlyViewVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="NewsVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="NewsSubscriptionVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="CheckOrderVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="FilterVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="GiftSertificateVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
    <Setting Name="WishListVisibility" Type="Checkbox">
      <Value>False</Value>
    </Setting>
  </SettingSection>
  <!-- Лого производителя -->
  <SettingSection Title="SectionBrandLogo">
    <Setting Title="Width" Name="BrandLogoWidth" Type="TextBox" DataType="int">
      <Value>100</Value>
    </Setting>
    <Setting Title="Height" Name="BrandLogoHeight" Type="TextBox" DataType="int">
      <Value>80</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Большая фотография -->
  <SettingSection Title="SectionBigProductImages">
    <Setting Title="Width" Name="BigProductImageWidth" Type="TextBox" DataType="int">
      <Value>1000</Value>
    </Setting>
    <Setting Title="Height" Name="BigProductImageHeight" Type="TextBox" DataType="int">
      <Value>1000</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Средняя фотография -->
  <SettingSection Title="SectionMiddleProductImages">
    <Setting Title="Width" Name="MiddleProductImageWidth" Type="TextBox" DataType="int">
      <Value>350</Value>
    </Setting>
    <Setting Title="Height" Name="MiddleProductImageHeight" Type="TextBox" DataType="int">
      <Value>350</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Маленькая фотография -->
  <SettingSection Title="SectionSmallProductImages">
    <Setting Title="Width" Name="SmallProductImageWidth" Type="TextBox" DataType="int">
      <Value>260</Value>
    </Setting>
    <Setting Title="Height" Name="SmallProductImageHeight" Type="TextBox" DataType="int">
      <Value>260</Value>
    </Setting>
  </SettingSection>
  <!-- Продукт.Самая маленькая фотография -->
  <SettingSection Title="SectionXSmallProductImages">
    <Setting Title="Width" Name="XSmallProductImageWidth" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="XSmallProductImageHeight" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
  </SettingSection>
  <!-- Категория.Большая фотография -->
  <SettingSection Title="SectionBigCategoryImages">
    <Setting Title="Width" Name="BigCategoryImageWidth" Type="TextBox" DataType="int">
      <Value>740</Value>
    </Setting>
    <Setting Title="Height" Name="BigCategoryImageHeight" Type="TextBox" DataType="int">
      <Value>200</Value>
    </Setting>
  </SettingSection>
  <!-- Категория.Маленькая фотография -->
  <SettingSection Title="SectionSmallCategoryImages">
    <Setting Title="Width" Name="SmallCategoryImageWidth" Type="TextBox" DataType="int">
      <Value>80</Value>
    </Setting>
    <Setting Title="Height" Name="SmallCategoryImageHeight" Type="TextBox" DataType="int">
      <Value>80</Value>
    </Setting>
  </SettingSection>
  <!-- Изображение новости -->
  <SettingSection Title="SectionNewsPhotos">
    <Setting Title="Width" Name="NewsImageWidth" Type="TextBox" DataType="int">
      <Value>486</Value>
    </Setting>
    <Setting Title="Height" Name="NewsImageHeight" Type="TextBox" DataType="int">
      <Value>230</Value>
    </Setting>
  </SettingSection>
    <!-- Иконки для оплаты -->
  <SettingSection Title="SectionPaymentIcons">
    <Setting Title="Width" Name="PaymentIconWidth" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="PaymentIconHeight" Type="TextBox" DataType="int">
      <Value>40</Value>
    </Setting>
  </SettingSection>
  <!-- Иконки для доставки -->
  <SettingSection Title="SectionShippingIcons">
    <Setting Title="Width" Name="ShippingIconWidth" Type="TextBox" DataType="int">
      <Value>60</Value>
    </Setting>
    <Setting Title="Height" Name="ShippingIconHeight" Type="TextBox" DataType="int">
      <Value>40</Value>
    </Setting>
  </SettingSection>
  <!-- Настройки по умолчанию -->
  <SettingSection Title="SectionDesignTransformer" Hidden="true">
    <Setting Name="Theme" Type="TextBox">
      <Value>_none</Value>
    </Setting>
    <Setting Name="ColorScheme" Type="TextBox">
      <Value>_none</Value>
    </Setting>
    <Setting Name="Background" Type="TextBox">
      <Value>_none</Value>
    </Setting>
  </SettingSection>
  <SettingSection Title="Common"></SettingSection>
  <StaticBlocks>    
    <StaticBlock Key="TemplateMainCategories" Name="test">
    
    </StaticBlock>
    <StaticBlock Key="TemplateMainPageTest1" Name="Test1 (Шаблон Template)">
      <![CDATA[
      ]]>
    </StaticBlock>
    <StaticBlock Key="TemplateMainPageTest2" Name="Test2 (Шаблон Template)">
      <![CDATA[
      ]]>
    </StaticBlock>
    <StaticBlock Key="TemplateMainPageTest3" Name="Test3 (Шаблон Template)">
      <![CDATA[
      ]]>
    </StaticBlock>
    <StaticBlock Key="TemplateMainPageTest4" Name="Test4 (Шаблон Template)">
      <![CDATA[
      ]]>
    </StaticBlock> 
  </StaticBlocks>
  <Carousel>
    <Slide Path="http://cs71.advantshop.net/templates/Love/slide.jpg"></Slide>
  </Carousel>
  <LogoPicture Path="images/logo.png"></LogoPicture>
</Settings>