@import '../../_colorScheme.scss';

$colorValueChange: getDefaultColorValueChange() !default;

$c1: #4b4f58;
$c2: #e2e3e4;
$c3: #94969b;
$c4: #fff;
$c5: #26282b;
$c6: #0662c1;
$c7: #bfc0c1;
$c9: #0662c1;
$c10: #f3f3f3;
$c11: #f8f8f8;
$c12: #f8b643;


@include color-scheme-text('1', $c1);
@include color-scheme-text('2', $c2);
@include color-scheme-text('3', $c3);
@include color-scheme-text('4', $c4);
@include color-scheme-text('5', $c5);
@include color-scheme-text('6', $c6);
@include color-scheme-text('7', $c7);
@include color-scheme-text('8', $c4);

@include color-scheme-link('1', $c6, $c1, lighten($c1, $colorValueChange), null, true);
@include color-scheme-link('2', $c1, $c6, darken($c6, $colorValueChange));
@include color-scheme-link('3', $c3, $c6, darken($c6, $colorValueChange));
@include color-scheme-link('4', $c4, $c4, $c4, $c4);
@include color-scheme-link('5', $c9, $c1, lighten($c9, $colorValueChange), darken($c9, $colorValueChange));
@include color-scheme-link('6', $c6, $c4, $c4, $c4);
@include color-scheme-link('7', $c4, $c4, $c4, $c4);

@include color-scheme-bg('1', $c6, lighten($c6, $colorValueChange), darken($c6, $colorValueChange));
@include color-scheme-bg('2', $c1, lighten($c1, $colorValueChange), darken($c1, $colorValueChange));
@include color-scheme-bg('3', $c10, lighten($c10, $colorValueChange), darken($c10, $colorValueChange));
@include color-scheme-bg('4', $c11, lighten($c11, $colorValueChange), darken($c11, $colorValueChange));
@include color-scheme-bg('5', lighten($c6, $colorValueChange), lighten($c6, $colorValueChange),$c6);
@include color-scheme-bg('6', $c9, lighten($c9, $colorValueChange), darken($c9, $colorValueChange));
@include color-scheme-bg('7', $c4, lighten($c4, $colorValueChange), darken($c4, $colorValueChange));
@include color-scheme-bg('8', $c4, lighten($c3, $colorValueChange), darken($c3, $colorValueChange));
@include color-scheme-bg('9', $c4, darken($c4, $colorValueChange), darken($c4, $colorValueChange));
@include color-scheme-bg('10', $c12, lighten($c12, $colorValueChange), darken($c12, $colorValueChange));
@include color-scheme-bg('11', $c4, lighten($c6, $colorValueChange), darken($c6, $colorValueChange));


@include color-scheme-gradient('1', 'to bottom', inspect((#{lighten($c6, 5%)} 0%, #{$c6} 50%, #{darken($c6, 5%)} 100%)));

@include color-scheme-button('add', $c6, $c4, lighten($c6, $colorValueChange), $c4, darken($c6, $colorValueChange), $c4, $c2, $c3);
@include color-scheme-button('action', $c1, $c4, lighten($c1, $colorValueChange), $c4, darken($c1, $colorValueChange), $c4, $c2, $c3);
@include color-scheme-button('buy', $c6, $c4, lighten($c6, $colorValueChange), $c4, darken($c6, $colorValueChange), $c4, $c2, $c3);
@include color-scheme-button('confirm', $c9, $c4, lighten($c9, $colorValueChange), $c4, darken($c9, $colorValueChange), $c4, $c2, $c3);
@include color-scheme-button('submit', $c6, $c4, lighten($c6, $colorValueChange), $c4, darken($c6, $colorValueChange), $c4, $c2, $c3);

@include color-scheme-borders-color('1', $c2, $c2, $c2);
@include color-scheme-borders-color('2', $c12, $c12, $c12);

tr, td, th {
    border-color: $c2;
}

select.cs-bg-2 {
    color: #fff;
}

/*Cart*/
.cart-mini-main-link {
    background-color: $c9;
    border: 1px solid $c9;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $c9;
        border-color: $c9;
    }
}

/*Menu*/
a.menu-general-root-link {
    color: #000;

    &:hover {
        color: $c9;
    }
}

.cs-bg-i-1.cs-selected {
    a.menu-general-root-link {
        color: $c9;
    }
}

/*Buttons*/
.btn-small {
    border: 1px solid $c9 !important;

    &:hover {
        background-color: #fff;
        color: $c9;
        border: 1px solid $c9;
    }
}