.cs-t-1 {
  color: #4b4f58;
}

.mobile-version .cs-t-1--mobile {
  color: #4b4f58;
}

.cs-t-2 {
  color: #e2e3e4;
}

.mobile-version .cs-t-2--mobile {
  color: #e2e3e4;
}

.cs-t-3 {
  color: #94969b;
}

.mobile-version .cs-t-3--mobile {
  color: #94969b;
}

.cs-t-4 {
  color: #fff;
}

.mobile-version .cs-t-4--mobile {
  color: #fff;
}

.cs-t-5 {
  color: #26282b;
}

.mobile-version .cs-t-5--mobile {
  color: #26282b;
}

.cs-t-6 {
  color: #90bf33;
}

.mobile-version .cs-t-6--mobile {
  color: #90bf33;
}

.cs-t-7 {
  color: #bfc0c1;
}

.mobile-version .cs-t-7--mobile {
  color: #bfc0c1;
}

.cs-t-8 {
  color: #fff;
}

.mobile-version .cs-t-8--mobile {
  color: #fff;
}

a, .link {
  color: #90bf33;
}

a:hover, .link:hover {
  color: #4b4f58;
}

a:active, .link:active {
  color: #575b66;
}

.cs-l-1, .cs-l-d-1 {
  color: #90bf33;
}

.cs-l-1:hover, .cs-l-d-1:hover {
  color: #4b4f58;
}

.cs-l-1:active, .cs-l-d-1:active {
  color: #575b66;
}

.cs-l-1.cs-selected, .cs-l-d-1.cs-selected {
  color: #4b4f58;
}

.cs-l-d-1, .cs-l-ds-1 {
  border-bottom-color: #90bf33;
}

.cs-l-d-1:hover, .cs-l-ds-1:hover {
  border-bottom-color: #4b4f58;
}

.cs-l-d-1:active, .cs-l-ds-1:active {
  border-bottom-color: #575b66;
}

.cs-l-2, .cs-l-d-2 {
  color: #4b4f58;
}

.cs-l-2:hover, .cs-l-d-2:hover {
  color: #90bf33;
}

.cs-l-2:active, .cs-l-d-2:active {
  color: #81ab2e;
}

.cs-l-2.cs-selected, .cs-l-d-2.cs-selected {
  color: #90bf33;
}

.cs-l-d-2, .cs-l-ds-2 {
  border-bottom-color: #4b4f58;
}

.cs-l-d-2:hover, .cs-l-ds-2:hover {
  border-bottom-color: #90bf33;
}

.cs-l-d-2:active, .cs-l-ds-2:active {
  border-bottom-color: #81ab2e;
}

.cs-l-3, .cs-l-d-3 {
  color: #94969b;
}

.cs-l-3:hover, .cs-l-d-3:hover {
  color: #90bf33;
}

.cs-l-3:active, .cs-l-d-3:active {
  color: #81ab2e;
}

.cs-l-3.cs-selected, .cs-l-d-3.cs-selected {
  color: #90bf33;
}

.cs-l-d-3, .cs-l-ds-3 {
  border-bottom-color: #94969b;
}

.cs-l-d-3:hover, .cs-l-ds-3:hover {
  border-bottom-color: #90bf33;
}

.cs-l-d-3:active, .cs-l-ds-3:active {
  border-bottom-color: #81ab2e;
}

.cs-l-4, .cs-l-d-4 {
  color: #fff;
}

.cs-l-4:hover, .cs-l-d-4:hover {
  color: #fff;
}

.cs-l-4:active, .cs-l-d-4:active {
  color: #fff;
}

.cs-l-4.cs-selected, .cs-l-d-4.cs-selected {
  color: #fff;
}

.cs-l-d-4, .cs-l-ds-4 {
  border-bottom-color: #fff;
}

.cs-l-d-4:hover, .cs-l-ds-4:hover {
  border-bottom-color: #fff;
}

.cs-l-d-4:active, .cs-l-ds-4:active {
  border-bottom-color: #fff;
}

.cs-l-d-4.cs-selected, .cs-l-ds-4.cs-selected {
  color: #fff;
}

.cs-l-5, .cs-l-d-5 {
  color: #90bf33;
}

.cs-l-5:hover, .cs-l-d-5:hover {
  color: #4b4f58;
}

.cs-l-5:active, .cs-l-d-5:active {
  color: #9dcc40;
}

.cs-l-5.cs-selected, .cs-l-d-5.cs-selected {
  color: #81ab2e;
}

.cs-l-d-5, .cs-l-ds-5 {
  border-bottom-color: #90bf33;
}

.cs-l-d-5:hover, .cs-l-ds-5:hover {
  border-bottom-color: #4b4f58;
}

.cs-l-d-5:active, .cs-l-ds-5:active {
  border-bottom-color: #9dcc40;
}

.cs-l-d-5.cs-selected, .cs-l-ds-5.cs-selected {
  color: #81ab2e;
}

.cs-l-6, .cs-l-d-6 {
  color: #90bf33;
}

.cs-l-6:hover, .cs-l-d-6:hover {
  color: #fff;
}

.cs-l-6:active, .cs-l-d-6:active {
  color: #fff;
}

.cs-l-6.cs-selected, .cs-l-d-6.cs-selected {
  color: #fff;
}

.cs-l-d-6, .cs-l-ds-6 {
  border-bottom-color: #90bf33;
}

.cs-l-d-6:hover, .cs-l-ds-6:hover {
  border-bottom-color: #fff;
}

.cs-l-d-6:active, .cs-l-ds-6:active {
  border-bottom-color: #fff;
}

.cs-l-d-6.cs-selected, .cs-l-ds-6.cs-selected {
  color: #fff;
}

.cs-l-7, .cs-l-d-7 {
  color: #fff;
}

.cs-l-7:hover, .cs-l-d-7:hover {
  color: #fff;
}

.cs-l-7:active, .cs-l-d-7:active {
  color: #fff;
}

.cs-l-7.cs-selected, .cs-l-d-7.cs-selected {
  color: #fff;
}

.cs-l-d-7, .cs-l-ds-7 {
  border-bottom-color: #fff;
}

.cs-l-d-7:hover, .cs-l-ds-7:hover {
  border-bottom-color: #fff;
}

.cs-l-d-7:active, .cs-l-ds-7:active {
  border-bottom-color: #fff;
}

.cs-l-d-7.cs-selected, .cs-l-ds-7.cs-selected {
  color: #fff;
}

.cs-bg-1 {
  background-color: #90bf33;
}

.cs-bg-i-1 {
  background-color: #90bf33;
}

.cs-bg-i-1:hover {
  background-color: #9dcc40;
}

.cs-bg-i-1:active {
  background-color: #81ab2e;
}

.cs-bg-i-1.cs-selected {
  background-color: #81ab2e;
}

.mobile-version .cs-bg-1--mobile {
  background-color: #90bf33;
}

.mobile-version .cs-bg-i-1--mobile {
  background-color: #90bf33;
}

.mobile-version .cs-bg-i-1--mobile:hover {
  background-color: #9dcc40;
}

.mobile-version .cs-bg-i-1--mobile:active {
  background-color: #81ab2e;
}

.mobile-version .cs-bg-i-1--mobile.cs-selected--mobile {
  background-color: #81ab2e;
}

.cs-bg-2 {
  background-color: #4b4f58;
}

.cs-bg-i-2 {
  background-color: #4b4f58;
}

.cs-bg-i-2:hover {
  background-color: #575b66;
}

.cs-bg-i-2:active {
  background-color: #3f434a;
}

.cs-bg-i-2.cs-selected {
  background-color: #3f434a;
}

.mobile-version .cs-bg-2--mobile {
  background-color: #4b4f58;
}

.mobile-version .cs-bg-i-2--mobile {
  background-color: #4b4f58;
}

.mobile-version .cs-bg-i-2--mobile:hover {
  background-color: #575b66;
}

.mobile-version .cs-bg-i-2--mobile:active {
  background-color: #3f434a;
}

.mobile-version .cs-bg-i-2--mobile.cs-selected--mobile {
  background-color: #3f434a;
}

.cs-bg-3 {
  background-color: #f3f3f3;
}

.cs-bg-i-3 {
  background-color: #f3f3f3;
}

.cs-bg-i-3:hover {
  background-color: white;
}

.cs-bg-i-3:active {
  background-color: #e6e6e6;
}

.cs-bg-i-3.cs-selected {
  background-color: #e6e6e6;
}

.mobile-version .cs-bg-3--mobile {
  background-color: #f3f3f3;
}

.mobile-version .cs-bg-i-3--mobile {
  background-color: #f3f3f3;
}

.mobile-version .cs-bg-i-3--mobile:hover {
  background-color: white;
}

.mobile-version .cs-bg-i-3--mobile:active {
  background-color: #e6e6e6;
}

.mobile-version .cs-bg-i-3--mobile.cs-selected--mobile {
  background-color: #e6e6e6;
}

.cs-bg-4 {
  background-color: #f8f8f8;
}

.cs-bg-i-4 {
  background-color: #f8f8f8;
}

.cs-bg-i-4:hover {
  background-color: white;
}

.cs-bg-i-4:active {
  background-color: #ebebeb;
}

.cs-bg-i-4.cs-selected {
  background-color: #ebebeb;
}

.mobile-version .cs-bg-4--mobile {
  background-color: #f8f8f8;
}

.mobile-version .cs-bg-i-4--mobile {
  background-color: #f8f8f8;
}

.mobile-version .cs-bg-i-4--mobile:hover {
  background-color: white;
}

.mobile-version .cs-bg-i-4--mobile:active {
  background-color: #ebebeb;
}

.mobile-version .cs-bg-i-4--mobile.cs-selected--mobile {
  background-color: #ebebeb;
}

.cs-bg-5 {
  background-color: #9dcc40;
}

.cs-bg-i-5 {
  background-color: #9dcc40;
}

.cs-bg-i-5:hover {
  background-color: #9dcc40;
}

.cs-bg-i-5:active {
  background-color: #90bf33;
}

.cs-bg-i-5.cs-selected {
  background-color: #90bf33;
}

.mobile-version .cs-bg-5--mobile {
  background-color: #9dcc40;
}

.mobile-version .cs-bg-i-5--mobile {
  background-color: #9dcc40;
}

.mobile-version .cs-bg-i-5--mobile:hover {
  background-color: #9dcc40;
}

.mobile-version .cs-bg-i-5--mobile:active {
  background-color: #90bf33;
}

.mobile-version .cs-bg-i-5--mobile.cs-selected--mobile {
  background-color: #90bf33;
}

.cs-bg-6 {
  background-color: #90bf33;
}

.cs-bg-i-6 {
  background-color: #90bf33;
}

.cs-bg-i-6:hover {
  background-color: #9dcc40;
}

.cs-bg-i-6:active {
  background-color: #81ab2e;
}

.cs-bg-i-6.cs-selected {
  background-color: #81ab2e;
}

.mobile-version .cs-bg-6--mobile {
  background-color: #90bf33;
}

.mobile-version .cs-bg-i-6--mobile {
  background-color: #90bf33;
}

.mobile-version .cs-bg-i-6--mobile:hover {
  background-color: #9dcc40;
}

.mobile-version .cs-bg-i-6--mobile:active {
  background-color: #81ab2e;
}

.mobile-version .cs-bg-i-6--mobile.cs-selected--mobile {
  background-color: #81ab2e;
}

.cs-bg-7 {
  background-color: #fff;
}

.cs-bg-i-7 {
  background-color: #fff;
}

.cs-bg-i-7:hover {
  background-color: white;
}

.cs-bg-i-7:active {
  background-color: #f2f2f2;
}

.cs-bg-i-7.cs-selected {
  background-color: #f2f2f2;
}

.mobile-version .cs-bg-7--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-7--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-7--mobile:hover {
  background-color: white;
}

.mobile-version .cs-bg-i-7--mobile:active {
  background-color: #f2f2f2;
}

.mobile-version .cs-bg-i-7--mobile.cs-selected--mobile {
  background-color: #f2f2f2;
}

.cs-bg-8 {
  background-color: #fff;
}

.cs-bg-i-8 {
  background-color: #fff;
}

.cs-bg-i-8:hover {
  background-color: #a1a3a7;
}

.cs-bg-i-8:active {
  background-color: #87898f;
}

.cs-bg-i-8.cs-selected {
  background-color: #87898f;
}

.mobile-version .cs-bg-8--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-8--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-8--mobile:hover {
  background-color: #a1a3a7;
}

.mobile-version .cs-bg-i-8--mobile:active {
  background-color: #87898f;
}

.mobile-version .cs-bg-i-8--mobile.cs-selected--mobile {
  background-color: #87898f;
}

.cs-bg-9 {
  background-color: #fff;
}

.cs-bg-i-9 {
  background-color: #fff;
}

.cs-bg-i-9:hover {
  background-color: #f2f2f2;
}

.cs-bg-i-9:active {
  background-color: #f2f2f2;
}

.cs-bg-i-9.cs-selected {
  background-color: #f2f2f2;
}

.mobile-version .cs-bg-9--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-9--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-9--mobile:hover {
  background-color: #f2f2f2;
}

.mobile-version .cs-bg-i-9--mobile:active {
  background-color: #f2f2f2;
}

.mobile-version .cs-bg-i-9--mobile.cs-selected--mobile {
  background-color: #f2f2f2;
}

.cs-bg-10 {
  background-color: #f8b643;
}

.cs-bg-i-10 {
  background-color: #f8b643;
}

.cs-bg-i-10:hover {
  background-color: #f9c05c;
}

.cs-bg-i-10:active {
  background-color: #f7ac2a;
}

.cs-bg-i-10.cs-selected {
  background-color: #f7ac2a;
}

.mobile-version .cs-bg-10--mobile {
  background-color: #f8b643;
}

.mobile-version .cs-bg-i-10--mobile {
  background-color: #f8b643;
}

.mobile-version .cs-bg-i-10--mobile:hover {
  background-color: #f9c05c;
}

.mobile-version .cs-bg-i-10--mobile:active {
  background-color: #f7ac2a;
}

.mobile-version .cs-bg-i-10--mobile.cs-selected--mobile {
  background-color: #f7ac2a;
}

.cs-bg-11 {
  background-color: #fff;
}

.cs-bg-i-11 {
  background-color: #fff;
}

.cs-bg-i-11:hover {
  background-color: #9dcc40;
}

.cs-bg-i-11:active {
  background-color: #81ab2e;
}

.cs-bg-i-11.cs-selected {
  background-color: #81ab2e;
}

.mobile-version .cs-bg-11--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-11--mobile {
  background-color: #fff;
}

.mobile-version .cs-bg-i-11--mobile:hover {
  background-color: #9dcc40;
}

.mobile-version .cs-bg-i-11--mobile:active {
  background-color: #81ab2e;
}

.mobile-version .cs-bg-i-11--mobile.cs-selected--mobile {
  background-color: #81ab2e;
}

.cs-g-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9dcc40), color-stop(50%, #90bf33), to(#81ab2e));
  background-image: linear-gradient(to bottom, #9dcc40 0%, #90bf33 50%, #81ab2e 100%);
}

.btn-add {
  color: #fff;
  background: #90bf33;
}

.btn-add:hover {
  color: #fff;
  background: #9dcc40;
}

.btn-add:active {
  color: #fff;
  background: #81ab2e;
}

.btn-add:disabled, .btn-add.btn-disabled {
  color: #94969b;
  background: #e2e3e4;
}

.btn-action {
  color: #fff;
  background: #4b4f58;
}

.btn-action:hover {
  color: #fff;
  background: #575b66;
}

.btn-action:active {
  color: #fff;
  background: #3f434a;
}

.btn-action:disabled, .btn-action.btn-disabled {
  color: #94969b;
  background: #e2e3e4;
}

.btn-buy {
  color: #fff;
  background: #90bf33;
}

.btn-buy:hover {
  color: #fff;
  background: #9dcc40;
}

.btn-buy:active {
  color: #fff;
  background: #81ab2e;
}

.btn-buy:disabled, .btn-buy.btn-disabled {
  color: #94969b;
  background: #e2e3e4;
}

.btn-confirm {
  color: #fff;
  background: #90bf33;
}

.btn-confirm:hover {
  color: #fff;
  background: #9dcc40;
}

.btn-confirm:active {
  color: #fff;
  background: #81ab2e;
}

.btn-confirm:disabled, .btn-confirm.btn-disabled {
  color: #94969b;
  background: #e2e3e4;
}

.btn-submit {
  color: #fff;
  background: #90bf33;
}

.btn-submit:hover {
  color: #fff;
  background: #9dcc40;
}

.btn-submit:active {
  color: #fff;
  background: #81ab2e;
}

.btn-submit:disabled, .btn-submit.btn-disabled {
  color: #94969b;
  background: #e2e3e4;
}

.cs-br-1 {
  border-left-color: #e2e3e4 !important;
  border-top-color: #e2e3e4 !important;
  border-right-color: #e2e3e4 !important;
  border-bottom-color: #e2e3e4 !important;
}

.cs-br-2 {
  border-left-color: #f8b643 !important;
  border-top-color: #f8b643 !important;
  border-right-color: #f8b643 !important;
  border-bottom-color: #f8b643 !important;
}

tr, td, th {
  border-color: #e2e3e4;
}

select.cs-bg-2 {
  color: #fff;
}

/*Cart*/
.cart-mini-main-link {
  background-color: #90bf33;
  border: 1px solid #90bf33;
  color: #fff;
}

.cart-mini-main-link:hover {
  background-color: #fff;
  color: #90bf33;
  border-color: #90bf33;
}

/*Menu*/
a.menu-general-root-link {
  color: #000;
}

a.menu-general-root-link:hover {
  color: #90bf33;
}

.cs-bg-i-1.cs-selected a.menu-general-root-link {
  color: #90bf33;
}

/*Buttons*/
.btn-small {
  border: 1px solid #90bf33 !important;
}

.btn-small:hover {
  background-color: #fff;
  color: #90bf33;
  border: 1px solid #90bf33;
}
/*# sourceMappingURL=styles.css.map */